* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-clr: #F1F0F2;
    --dark-clr-one: #F20530;
    --dark-clr-two: #F2B705;
    --light-clr-one: #F23D6D;
    --light-clr-two: #B9BF04;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--bg-clr);
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}